langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
chromadb
langchain-text-splitters
langchain-groq
python-dotenv
fastapi
uvicorn
loguru
rank-bm25
langgraph
python-multipart
pydantic